---

---

<div class='breadcrumb-style-01'>
  <div class='breadcrumb-inner'>
    <h1 class='page-title'>About Us</h1>
    <ul class='page-list'>
      <li><a href='#'>Home</a></li>
      <li><a href='#'>About Us</a></li>
    </ul>
  </div>
</div>
<style>
  <style>
  .breadcrumb-style-01 {
    width: 100%;
    min-height: 31.25rem; /* 500px */
    background: url(../images/breadcrumb-about.jpg);
    background-size: auto;
    background-size: cover;
    position: relative;
  }

  .breadcrumb-style-01 .breadcrumb-inner {
    position: absolute;
    color: var(--paragraph-color);
    text-align: center;
    top: 50%;
    left: 100%;
    width: 50%;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
  }

  .breadcrumb-style-01 .breadcrumb-inner h1 {
    font-size: 5.625rem; /* 90px */
    font-family: var(--body-font);
    font-weight: 900;
  }

  .breadcrumb-style-01::before {
    position: absolute;
    content: '';
    background: #fcfcfc;
    top: 50%;
    left: 100%;
    width: 50%;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
    height: 100%;
  }

  @media only screen and (max-width: 61.9375em) { /* 991px */
    .breadcrumb-inner h1 {
      font-size: 2.8125rem !important; /* 45px */
    }
  }

  .breadcrumb-inner h1 {
    text-transform: capitalize;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
  }

  h1 {
    font-size: 3rem; /* 48px */
    line-height: 1.0833333333333333;
  }

  .h1,
  h1 {
    font-size: 2.5rem;
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  .breadcrumb-style-01 .breadcrumb-inner .page-list {
    display: inline-table;
    margin-bottom: 0.625rem; /* 10px */
  }

  dl,
  ol,
  ul {
    padding-left: 0.9375rem; /* 15px */
  }

  dl,
  ol,
  ul {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .breadcrumb-style-01 .breadcrumb-inner .page-list li {
    list-style: none;
    padding-right: 1.25rem; /* 20px */
    position: relative;
    display: inline;
    font-size: 1.5625rem; /* 25px */
    font-family: var(--body-font);
    font-weight: 400;
    color: var(--paragraph-color);
  }

  a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
    outline: none;
    color: inherit;
  }

  .breadcrumb-style-01 .breadcrumb-inner .page-list li a:hover {
    color: var(--main-color);
  }

  @media only screen and (min-width: 75em) and (max-width: 94.875em) { /* 1200px - 1518px */
    .breadcrumb-style-01 h1 {
      font-size: 4.375rem !important; /* 70px */
    }
  }
</style>

</style>
