---
import { Image } from 'astro:assets'
import exploreImg from '../../public/images/explore.jpg'
---

<div class='explore-area'>
  <div class='container-fluid'>
    <div class='flex flex-wrap'>
      <div class='hidden lg:block lg:w-1/3'>
        <div class='explore_left'>
          <Image src={exploreImg} alt='explore images' format='webp' />
        </div>
      </div>
      <div class='xl:ml-1/12 flex flex-col items-center justify-center lg:w-2/3 xl:w-1/2'>
        <div class='explore_right'>
          <h1 class='mb-4 text-2xl font-bold'>Explore &amp; Ride</h1>
          <p class='mb-6'>
              Discover the charm of cycling near Kazimierz Dolny, a picturesque town nestled along the Vistula River. 
              Whether you're an avid cyclist or a casual rider, this region offers an array of trails that wind through 
              stunning landscapes. From the serene riverbanks of the Vistula to the rolling hills dotted with ancient 
              forests, each route unveils a new side of Poland's natural beauty.<br /><br />
              As you pedal through this diverse terrain, you'll encounter breathtaking vistas, from golden fields 
              stretching under the vast sky to the lush greenery of valleys that feel untouched by time. Along the way, 
              historic landmarks and charming villages offer perfect spots to pause and soak in the local culture. 
              Experience the tranquility of the countryside or challenge yourself on the more rugged paths that lead 
              to panoramic viewpoints. <br /><br />
              Whether you're seeking a leisurely ride or an adventurous journey, cycling near Kazimierz Dolny promises 
              an unforgettable experience immersed in nature's splendor.
          </p>
          <button class="bg-red-500 text-white font-bold py-2 px-4 rounded hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50">
              Start Your Adventure
          </button>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
    @media (min-width: 1200px) {
  .explore_right {
    margin-left: 8.333333%;
  }
}
    @media only screen and (max-width: 1199px) {
  .explore-area .explore_right {
    padding: 25px;
  }
}
@media only screen and (max-width: 1400px) {
  .explore-area .explore_right {
    padding-top: 70px;
  }
}

  .explore-area {
    background: #fcfcfc;
    margin-top: 100px;
  }
  .explore-area .explore_left img {
    min-height: 151px;
  }
  .explore-area .explore_right h1 {
    font-size: 65px;
    line-height: 50px;
    font-family: var(--body-font);
    font-weight: 700;
    margin-bottom: 55px;
  }
  .explore-area .explore_right p {
    font-family: var(--body-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: var(--paragraph-color);
    margin-bottom: 65px;
  }
  .button-explore:hover {
    -webkit-box-shadow: 8px 1px 20px rgba(227, 5, 26, 0.6);
    box-shadow: 8px 1px 20px rgba(227, 5, 26, 0.6);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
</style>
