---
const { active } = Astro.props
---

<nav>
  <div class='flex justify-end'>
    <div class='burger lg:hidden'>
      <div class='bar1 my-1.5 h-1 w-7 bg-gray-50 duration-300'></div>
      <div class='bar2 my-1.5 h-1 w-7 bg-gray-50'></div>
      <div class='bar3 my-1.5 h-1 w-7 bg-gray-50 duration-300'></div>
    </div>
  </div>
  <div class='flex flex-col p-5 lg:flex-row'>
    <ul
      class='links hidden w-full flex-col text-center max-lg:space-y-4 lg:flex lg:flex-row lg:justify-around lg:space-x-4'
    >
      <li>
        <a
          href='/bike-route'
          class={`block px-6 py-3 text-xl opacity-70 hover:text-red-300 hover:opacity-100 duration-300 ${active === 'home' ? 'pl-2 border-l-8 border-red-500  text-red-500 font-bold' : 'text-white'}`}
        >
          Home
        </a>
      </li>
      <li>
        <a
          href='/bike-route/scenic'
          class={`block px-6 py-3 text-xl opacity-70 hover:text-red-300 hover:opacity-100 duration-300 ${active === 'scenic' ? 'pl-2 border-l-8 border-red-500  text-red-500 font-bold' : 'text-white'}`}
        >
          Scenic
        </a>
      </li>
      <li>
        <a
          href='/bike-route/route'
          class={`block px-6 py-3 text-xl opacity-70 hover:text-red-300 hover:opacity-100 duration-300 ${active === 'route' ? 'pl-2 border-l-8 border-red-500  text-red-500 font-bold' : 'text-white'}`}
        >
          Route
        </a>
      </li>
      <li>
        <a
          href='/bike-route/about/us'
          class={`block px-6 py-3 text-xl opacity-70 hover:text-red-300 hover:opacity-100 duration-300 ${active === 'about' ? 'pl-2 border-l-8 border-red-500  text-red-500 font-bold' : 'text-white'}`}
        >
          About
        </a>
      </li>
      <li>
        <a
          href='/bike-route/contact'
          class={`block px-6 py-3 text-xl opacity-70 hover:text-red-300 hover:opacity-100 duration-300 ${active === 'contact' ? 'pl-2 border-l-8 border-red-500  text-red-500 font-bold' : 'text-white'}`}
        >
          Contact
        </a>
      </li>
    </ul>
  </div>
</nav>

<script type='module' is:inline>
  const burger = document.querySelector('.burger')
  const links = document.querySelector('.links')
  const bar1 = document.querySelector('.bar1')
  const bar2 = document.querySelector('.bar2')
  const bar3 = document.querySelector('.bar3')

  burger.addEventListener('click', () => {
    links.classList.toggle('hidden')
    bar1.classList.toggle('transform')
    bar1.classList.toggle('translate-y-1.5')
    bar1.classList.toggle('-rotate-45')
    bar2.classList.toggle('hidden')
    bar3.classList.toggle('transform')
    bar3.classList.toggle('-translate-y-1')
    bar3.classList.toggle('rotate-45')
  })
</script>
