:root {
    --main-color: #E3051A;
    --secondary-color: #30373f;
    --heading-color: #242424;
    --paragraph-color: #343434;
    --heading-font: 'Source Serif Pro', sans-serif;
    --body-font: 'Barlow', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --third-font: 'Open Sans', sans-serif;
    --fourth-font: 'Midnight Signature';
}

/* General styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
}

h1 {
    font-size: 3rem;
    line-height: 1.083;
}

.container {

    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -rem;
}

.col {
    position: relative;
    width: 100%;
    padding: 0 1rem;
}

/* Column sizes */
@media (min-width: 36em) {
    .container {
        max-width: 33.75em;
    }
}

@media (min-width: 48em) {
    .container {
        max-width: 45em;
    }
}

@media (min-width: 62em) {
    .container {
        max-width: 60em;
    }

    .col-lg-5 {
        flex: 0 0 41.67%;
        max-width: 41.67%;
    }

    .col-lg-7 {
        flex: 0 0 58.33%;
        align-items: center;
        justify-content: center;
        max-width: 58.33%;
    }
}

@media (min-width: 75em) {
    .container {
        max-width: 71.25em;
    }
}

@media (min-width: 87.5em) {
    .container {
        max-width: 80em;
    }
}

@media (min-width: 106.25em) {
    .container {
        max-width: 102.5em;
    }
}

/* Specific component styles */
.home-contact {
    position: relative;
}

.home-contact .contact-title h1 {
    background: #fff;
    box-shadow: 0 0 15px #ccc;
    margin: 0 auto;
    width: 30rem;
    font-size: 3.5rem;
    font-weight: 700;
    font-family: var(--body-font);
    border-left: 15px solid var(--main-color);
    padding: 0.625rem;
    position: absolute;
    left: 36%;
    top: 3.74rem;
    z-index: 9999;
}

@media (max-width: 62em) {
    .home-contact .contact-title h1 {
        left: 0;
        display: none;
    }

    .row {
        flex-direction: column;
    }

}

.home-contact .contact-row {
    box-shadow: 0 0 1rem #ccc;
}

.home-contact .contact-right {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.mapouter,
.gmap_canvas {
    position: relative;
    text-align: right;
    height: 100%;
    width: 100%;
    min-height: 25rem;
    overflow: hidden;
}


#popover-text {
    background-color: white;
    padding: 0.25rem;
    border: 1px solid black;
    border-radius: 0.25rem;
    position: absolute;
}

/* link button active on slider */

.active {
    background-color: #4CAF50
}


.button-23.city-item.active {
    background-color: #4CAF50
}

.button-23.link-button.active {
    background-color: #4CAF50
}

.column-navigation {
    margin-block: 2rem 2rem;
}

/* image svg main button home */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 2rem 2rem;

}

/* 
button
*/
.button-23 {
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25rem;
    margin: 0;
    outline: none;
    padding: 0.8125em 1.4375em;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

.button-23:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}

.button-23:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
}

.button-23:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
}